<table class="table table-striped">
  <thead class="table-light">
    <tr>
      @for(header of headers; track $index) {
      <th scope="col">{{ header.label }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (task of tasks; track $index; let i = $index) {
    <tr>
      @for(header of headers; track $index) { @if( header.label === '#') {
      <td>{{ i + 1 }}</td>
      } @else if( header.label === 'Status') {
      <td>
        <span
          [ngClass]="{
            'bg-success-subtle text-success': task[header.key] === 'COMPLETED',
            'bg-info-subtle text-info': task[header.key] === 'IN_PROGRESS',
            'bg-danger-subtle text-danger': task[header.key] === 'OPEN'
          }"
          class="task-status me-2 px-2 py-1 rounded"
        ></span>
        {{ task[header.key] }}
      </td>
      } @else if(header.label === 'Size') {
      <td>
        <span class="badge text-bg-info rounded-pill">
          {{ task[header.key] }}</span
        >
      </td>
      } @else {
      <td>{{ task[header.key] }}</td>
      }}
    </tr>
    }
  </tbody>
</table>
<div class="text-end mt-3">
  <button class="btn btn-outline-primary" (click)="createTask()">
    <i class="bi bi-plus"></i> Create Task
  </button>
</div>
