<div class="container-fluid">
  <div class="row">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Projects</a>

        <div class="filters">
          <button
            disabled
            class="btn btn-outline-secondary ms-2"
            (click)="navigateToCreateProject()"
          >
            <i class="bi bi-sliders"></i> Setting
          </button>
          <button
            class="btn btn-outline-primary ms-2"
            (click)="navigateToCreateProject()"
          >
            <i class="bi bi-plus"></i>
            New Project
          </button>
        </div>
      </div>
    </nav>
    <div class="d-flex py-2 px-0">
      <form class="d-flex" role="search">
        <div class="input-group">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </form>
      <div class="filters ms-auto d-flex">
        <div class="btn-group me-2" role="group">
          <button
            type="button"
            class="btn btn-outline-secondary"
            [ngClass]="{ active: currentFilter === 'ALL' }"
            (click)="filterByStatus('ALL')"
          >
            All ({{ allProjectsCount }})
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            [ngClass]="{ active: currentFilter === 'COMPLETED' }"
            (click)="filterByStatus('COMPLETED')"
          >
            Completed ({{ completedProjectsCount }})
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            [ngClass]="{ active: currentFilter === 'IN_PROGRESS' }"
            (click)="filterByStatus('IN_PROGRESS')"
          >
            In Progress ({{ inProgressProjectsCount }})
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            [ngClass]="{ active: currentFilter === 'NOT_STARTED' }"
            (click)="filterByStatus('NOT_STARTED')"
          >
            Not Started ({{ notStartedProjectsCount }})
          </button>
        </div>
        <div class="vr"></div>
        <div
          class="btn-group ms-2"
          role="group"
          aria-label="Basic outlined example"
        >
          <button
            type="button"
            class="btn btn-outline-secondary"
            [ngClass]="{ active: !isListView }"
            (click)="isListView = false"
          >
            <i class="bi bi-grid"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            [ngClass]="{ active: isListView }"
            (click)="isListView = true"
          >
            <i class="bi bi-view-list"></i>
          </button>
        </div>
      </div>
    </div>
    <div>
      <ng-container *ngIf="isListView; else cardView">
        <ng-container
          *ngFor="let project of filteredProjects; trackBy: trackByFn"
        >
          <!-- List View Template -->
          <div class="bg-white p-2 border shadow-sm row m-3 rounded border-0">
            <div class="col-4 border-end">
              <h5 class="card-title">{{ project.title }}</h5>
              <div class="row pt-2">
                <div class="col-3 label">Owner</div>
                <div class="col value">{{ project.owner }}</div>
              </div>
              <div class="row pt-2">
                <div class="col-3 label">Start Date</div>
                <div class="col value">{{ project.startDate }}</div>
              </div>
              <div class="d-flex text-center align-items-center pt-2">
                <span
                  class="project-status me-2"
                  [ngClass]="{
                    'bg-success': project.status === 'COMPLETED',
                    'bg-info': project.status === 'IN_PROGRESS',
                    'bg-danger': project.status === 'NOT_STARTED'
                  }"
                ></span>
                {{ project.status ? status[project.status] : "Unknown Status" }}
              </div>
            </div>
            <p class="card-text col-6 border-end">{{ project.description }}</p>

            <div
              class="card-body col-2 d-flex justify-content-center align-items-center"
            >
              <button class="btn btn-link" (click)="viewProject(project)">
                View Project
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #cardView>
        <div
          class="project-dashboard row row-cols-auto justify-content-between"
        >
          <ng-container
            *ngFor="let project of filteredProjects; trackBy: trackByFn"
          >
            <!-- Card View Template -->
            <div
              class="card col shadow-sm rounded g-3 border-0"
              style="width: 18rem"
            >
              <div class="card-body">
                <h5 class="card-title text-truncate">{{ project.title }}</h5>
                <div class="card-text line-clamp pb-3">
                  {{ project.description }}
                </div>
                <ul class="list-group">
                  <li class="list-group-item">Owner: {{ project.owner }}</li>
                  <li class="list-group-item">
                    Start Date: {{ project.startDate }}
                  </li>
                </ul>
              </div>

              <div class="card-footer d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <span
                    class="project-status me-2"
                    [ngClass]="{
                      'bg-success': project.status === 'COMPLETED',
                      'bg-info': project.status === 'IN_PROGRESS',
                      'bg-danger': project.status === 'NOT_STARTED'
                    }"
                  ></span>
                  {{
                    project.status ? status[project.status] : "Unknown Status"
                  }}
                </div>
                <button class="btn btn-link" (click)="viewProject(project)">
                  View Project
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </div>
</div>
