<nav class="navbar bg-dark navbar-expand-lg text-white">
    <div class="container-fluid">
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <a class="navbar-brand text-white" href="#">TaskFlow</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
          <li class="nav-item">
            <a class="nav-link active text-white"  aria-current="page" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-white" aria-disabled="true">Dashboard</a>
          </li>
        </ul>
        <!-- <form [formGroup]="form">
          <div class="form-check form-switch">
              <input class="form-check-input" title="theme" type="checkbox" formControlName="theme" (change)="isDarkTheme($event)" role="switch" id="darkTheme">
            </div>
      </form> -->
        <!-- User Avatar and Name -->
        <div class="d-flex align-items-center">
          <div
            class="avatar-initials rounded-circle me-2"
            [ngStyle]="{ backgroundColor: userAvatarColor }"
          >
            {{ userInitials }}
          </div>
          <span>{{ user?.name }}</span>
        </div>
      </div>
    </div>
  </nav>
