<div class="row project-board" style="gap: 10px;">
  <div
    class="card px-0 flex-grow-1 mb-3"
    style="flex-basis: calc(33.333% - 10px);"
    *ngFor="let taskCategory of tasks"
    cdkDropList
    [cdkDropListData]="taskCategory.tasks"
    [cdkDropListConnectedTo]="connectedDropLists"
    (cdkDropListDropped)="drop($event, taskCategory.status)"
  >
    <div class="card-header d-flex">
      <span
        [ngClass]="{ 
          'bg-success-subtle': taskCategory.status === 'COMPLETED',
          'bg-info-subtle': taskCategory.status === 'IN_PROGRESS',
          'bg-danger-subtle': taskCategory.status === 'OPEN'
          }"
        class="task-status"
      ></span>
      <h5 class="card-title ms-2">
        {{ status[taskCategory.status] }}
      </h5>
    </div>
    <div class="card-body">
      <ol class="list-group list-group-numbered">
        <li
          *ngFor="let task of taskCategory.tasks"
          cdkDrag
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div>{{ task.title }}</div>
          </div>
          <span class="badge text-bg-info rounded-pill">{{ task.size }}</span>
        </li>
      </ol>
    </div>
    <button class="btn btn-outline-secondary text-start mt-2 add-task" (click)="addTask(taskCategory.status)">
      <i class="bi bi-plus"></i>
      Add Task
    </button>
  </div>
</div>
<app-modal modalId="createTaskModal" modalTitle="Create Task">
  <div class="modal-body">
    <app-create-task [isRouted]="false" [status]="currentStatus" (taskCreated)="taskCreated($event)"></app-create-task>
  </div>
</app-modal>