/* filepath: /home/ram/dev/fe/taskflow/src/features/project/components/view-project/view-project.component.scss */
.cdk-drag-preview {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    background: white;
    // padding: 10px;
    border-radius: 4px;
  }
  
  .cdk-drag-placeholder {
    opacity: 0.5;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .project-board {
    height: calc(100% - 1rem);
    overflow: hidden;
  }

  .card {
    // width: 20rem;
    height: 100%;
    &-body {
      overflow-y: auto;
    }
  }
  .add-task {
    border-color: rgba(0, 0, 0, 0.175);
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
  }
  .task-status {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border-radius: 1rem;
  }