<div class="row justify-content-between project-board">
  <div
    class="card px-0"
    style="width: 20rem"
    *ngFor="let taskCategory of tasks"
    cdkDropList
    [cdkDropListData]="taskCategory.tasks"
    [cdkDropListConnectedTo]="connectedDropLists"
    (cdkDropListDropped)="drop($event, taskCategory.status)"
  >
    <div class="card-header d-flex">
      <span
        [ngClass]="{ 
          'bg-success-subtle': taskCategory.status === 'COMPLETED',
          'bg-info-subtle': taskCategory.status === 'IN_PROGRESS',
          'bg-danger-subtle': taskCategory.status === 'OPEN'
          }"
        class="task-status"
      ></span>
      <h5 class="card-title ms-2">
        {{ status[taskCategory.status] }}
      </h5>
    </div>
    <div class="card-body">
      <!-- <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          *ngFor="let task of taskCategory.tasks"
          cdkDrag
        >
          {{ task.title }}
        </li>
      </ul> -->
      <ol class="list-group list-group-numbered">
        <li
          *ngFor="let task of taskCategory.tasks"
          cdkDrag
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div>{{ task.title }}</div>
            Subtitle
          </div>
          <span class="badge text-bg-info rounded-pill">{{ task.size }}</span>
        </li>
      </ol>
    </div>
    <button class="btn btn-outline-secondary text-start mt-2 add-task">
      <i class="bi bi-plus"></i>
      Add Task
    </button>
  </div>
</div>
