<div class="container-fluid">
  <div class="row">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">{{ project?.title }}</a>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
        <div>
          <button class="btn btn-primary">Edit Project</button>
          <button class="btn btn-danger">Delete Project</button>
          <button class="btn btn-secondary">Back to Project List</button>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-2 border-end">
        <ul class="list-group">
          <li class="list-group-item" routerLink="./board">Board</li>
          <li class="list-group-item" routerLink="./backlogs">Backlogs</li>
          <li class="list-group-item">Roadmap</li>
        </ul>
      </div>
      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
