/* filepath: /home/ram/dev/fe/taskflow/src/features/project/components/view-project/view-project.component.scss */
.cdk-drag-preview {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    background: white;
    padding: 10px;
    border-radius: 4px;
  }
  
  .cdk-drag-placeholder {
    opacity: 0.5;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }